body{
    color: cornflowerblue;
    border-width: thick;
    background-image: url("images/background.gif");

    margin-left: 10%;
    margin-right: 10%;


}

.page{
    background-color: white;
    border-width: thick;
}

.first_part{
    border: 10px solid white;

    background-color:  #A8F0F0;
    text-align: right;
    font-family: monospace;
    
}

.second_part{
    font-size: 14pt;
    
}

.third_part{
    border-bottom: 2px solid blue;
    border-width: thick;
    border-bottom-style: dashed;
 



}


.fourth_part{

    
    background-color: #FFFFFFFF;


    border: 4px solid   ;
    border-color: #C2E9E9;    
    border-width: thick; 
    background-color: #E8FBFB;

    width: auto ; 
    height: auto;
    overflow: auto;

    padding: 5px;
    margin-top: 10px;

}
